# Copyright (C) 2020 Torge Matthies
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# Author contact info:
#   E-Mail address: openglfreak@googlemail.com
#   PGP key fingerprint: 0535 3830 2F11 C888 9032 FAD2 7C95 CD70 C9E8 438D

/.version
/obj/.version
/obj/version.h
/obj/version.res
/obj/version.exe
/out/.version
/obj/winestreamproxy_unixlib.a
/out/winestreamproxy_unixlib.dll.so
/out/winestreamproxy_unixlib.dll.dbg.o
/out/winestreamproxy.exe
/out/winestreamproxy.exe.dbg.o
/obj/version-debug.res
/obj/version-debug.exe
/out/.version-debug
/obj/winestreamproxy_unixlib-debug.a
/out/winestreamproxy_unixlib-debug.dll.so
/out/winestreamproxy-debug.exe
/out/settings.conf
/out/start.sh
/out/wrapper.sh
/out/start-debug.sh
/out/wrapper-debug.sh
/out/release.tar.gz
/out/debug.tar.gz
/out/source.tar.gz
